*{
    margin: 0;
}

.Heading{
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    margin-top: 10%;
    margin-left: 2%;
}

.text{
    font-size: 3rem;
}

.addlist{
    margin-left: 24%;
    font-size: 2.4rem;
}
#logo{
    color: red;
}

.maincard{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    
}
.card{
    border: 1px solid red;
    box-shadow: 6px 8px 5px rgba(190, 190, 190, 0.795);
    border-radius: 7px;
    height: 280px;
    width: 185px;
    padding: 1%;
    margin-left:3.8%;
}
.cardtext{
    font-size: 1.6rem;
    padding: 15px 18px 5px 18px;
}

hr{
    margin-left: 20px;
    padding: 0px;
}

.completedtask{
    margin-top: 30px;
    color: red;
    margin-left: 20px;
    font-size: 1.5rem;
}

.checkbox{
    margin-top: 20px;
    font-size: 1.2rem;
}
