
.heading{
    width: 50%;
    height: 35px; 
    border-bottom: 1px solid black; 
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
}

.Backarrow{
    text-align: center;
    margin-top: 5%;
    font-size: xx-large;
    /* align-content: center; */
    /* justify-content: center; */
}

#logo{
    color: rgb(240, 83, 56);

}
.maincard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5%;

}
.card{
    
    border: 1px solid rgb(240, 83, 56);
    box-shadow: 6px 8px 5px rgba(190, 190, 190, 0.795);
    border-radius: 7px;
    height: 400px;
    width: 400px;
    padding: 1%;
    

}
.cardtext{
    font-size: 2rem;
    color: rgb(240, 83, 56);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px 58px 5px 58px;
}

hr{
    margin-left: 130px;
    padding: 0px;
}

.completedtask{
    margin-top: 40px;
    color: rgb(240, 83, 56);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 20px;
    font-size: 1.5rem;
}

.checkbox{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    margin-right: 2%;
    letter-spacing: 2px;
}

#check{
    height: 1.2rem;
    width: 1.2rem;
}

#logo1{
    float: right;
    font-size: 2.3rem;
    margin: 40% 5px 5px 0px;
    color: rgb(240, 83, 56);


}
